<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.receiptit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".receiptProductList.CreateProductActivity"
                  android:label="@string/receipt_product_list_product_add_activity_title">
        </activity>
        <activity android:name=".receiptList.ManuallyCreateActivity"
                  android:label="@string/receipt_list_add_receipt_manually_activity_title">
        </activity>
        <activity android:name=".userProfile.EditUserActivity"
                  android:label="@string/edit_user_activity_title">
        </activity>
        <activity android:name=".product.ProductActivity"
                  android:label="@string/product_activity">
        </activity>
        <activity
                android:name=".receiptProductList.ReceiptProductListActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:label="@string/receipt_product_list_activity">
        </activity>
        <activity
                android:name=".receiptList.ReceiptListActivity"
                android:label="@string/title_activity_receipt_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".login.LoginActivity"
                  android:label="@string/login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>